# Question 1 - Display Header tag From Wikipedia

In [2]:
!pip install bs4
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\aakas\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)

In [3]:
from bs4 import BeautifulSoup
import requests

In [4]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page') # Calling the URl from which we have to scrap the data 
page

In [5]:
soup=BeautifulSoup(page.content) #Applying Soup function

In [5]:
titles=soup.find_all(['h1','h2','h3','h4','h5','h6'])    # applying soup function to extract the data 
print('List all the header tags :',*titles,sep='\n\n')

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you knowÂ ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

# Question 2 -IMDB top 100 Movies

In [7]:
p1=requests.get("https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating")
p1

In [8]:
bs=BeautifulSoup(p1.content)

In [8]:
movie_name=[]

In [9]:
movie_data=bs.findAll('div',class_='lister-item mode-advanced')

In [10]:
# Scraping out 100 world wide movie name
for i in movie_data:
    name = i.h3.a.text
    movie_name.append(name)

In [77]:
import pandas as pd
import numpy as n

In [78]:
# Scraping out movie release year
year=[]

release_year=bs.findAll('span',class_='lister-item-year text-muted unbold')

for i in release_year:
    year.append(i.text.replace('(','').replace(')',''))

In [79]:
# Scraping out Rating of the movie
Rating=[]

rating_movie=bs.findAll('div',class_='inline-block ratings-imdb-rating')

for i in rating_movie:
    Rating.append(i.text.replace('\n\n','').replace('\n',''))

In [15]:
# Creating a table by using Pandas Data Frame 
movie_df=pd.DataFrame({'Name of Movie':movie_name,'Release Year':year,'Movie rating':Rating})

In [16]:
movie_df

                                    Name of Movie Release Year Movie rating
0                        The Shawshank Redemption         1994          9.3
1                                   The Godfather         1972          9.2
2                                 The Dark Knight         2008          9.0
3   The Lord of the Rings: The Return of the King         2003          9.0
4                                Schindler's List         1993          9.0
..                                            ...          ...          ...
95                    Witness for the Prosecution         1957          8.4
96                                 Paths of Glory         1957          8.4
97                                   Sunset Blvd.         1950          8.4
98                             The Great Dictator         1940          8.4
99                                     Chhichhore         2019          8.3

[100 rows x 3 columns]

# Question 3- IMDB top 100 Bollywood Movies

In [9]:
ps=requests.get('https://www.imdb.com/list/ls009997493/')
ps

In [11]:
Bs=BeautifulSoup(ps.content)

In [80]:
# Scrapping out Bollywood Movie Names
Movie=[]
Mo_name=Bs.findAll('h3',class_='lister-item-header')

for i in Mo_name:
    Movie.append(i.a.text.replace('\n\n','').replace('\n',''))

In [81]:
# Scrapping out the release year of the movie
Year=[]

rel_year=Bs.findAll('span',class_='lister-item-year text-muted unbold')

for i in rel_year:
    Year.append(i.text.replace('(','').replace(')',''))

In [82]:
#Scrapping out the Rating of the movies
rating=[]

Rat_movie=Bs.findAll('div',class_='ipl-rating-star small')

for i in Rat_movie:
    rating.append(i.text.replace('\n\n','').replace('\n',''))

In [24]:
# Created table of top 100 bollywood movies on IMDB
Boll_mov=pd.DataFrame({'Movie':Movie,'release year':Year,'rating':rating})
Boll_mov

                     Movie release year rating
0          Rang De Basanti         2006    8.1
1                 3 Idiots         2009    8.4
2         Taare Zameen Par         2007    8.4
3           Dil Chahta Hai         2001    8.1
4   Swades: We, the People         2004    8.2
..                     ...          ...    ...
95             Wake Up Sid         2009    7.6
96                Rangeela         1995    7.4
97     Shatranj Ke Khilari         1977    7.5
98      Pyaar Ka Punchnama         2011    7.6
99           Ek Hasina Thi         2004    7.5

[100 rows x 3 columns]

# Question 4 - List of Indian Presidents

In [12]:
a=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
a

In [13]:
b=BeautifulSoup(a.content)

In [88]:
# Scrapping out Indian Presidents Name
Name_president=[]



for i in b.find_all("div",class_="presidentListing"):
    Name_president.append(i.find("h3").text.split('(')[0])

In [89]:
# Scrapping out the Office terms of the presidents 
Term =[]

office_term=b.find_all("div",class_="presidentListing")

for i in office_term:
    Term.append(i.find('p').text.replace('Term of Office:',''))

In [30]:
# Creating table for Indian President data 
Indian_president=pd.DataFrame({'Name of President':Name_president,'Term of Office':Term})
Indian_president

,Name of President,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# Question 5- ICC Cricket Men's Detail

# Top 10 ODI Teams

In [14]:
page2=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/t20i')
page2

In [15]:
soup2=BeautifulSoup(page2.content)

In [90]:
# Name of Top 10 teams in ICC Cricket Ranking 
Teams=[]

for i in soup2.find_all('span',class_='u-hide-phablet'):
    Teams.append(i.text)
    
T1=Teams[0:10]

In [91]:
# Creating the matches played list by each team
Matches=[]
for i in soup2.find_all('td',class_='table-body__cell u-center-text'):
    Matches.append(i.text)
    

Matches2=[]
for i in soup2.find_all('td',class_='rankings-block__banner--matches'):
    Matches2.append(i.text)

l1=Matches[0:166:2]

l2=Matches2[:]
l2

a=l1
b=l2
c=(b+a)

C1=c[0:10]

In [92]:
# Creating the overall points obtain by each team 
Point1=[]
for i in soup2.find_all('td',class_='rankings-block__banner--points'):
    Point1.append(i.text)
Point1

Point2=[]
for i in soup2.find_all('td',class_='table-body__cell u-center-text'):
    Point2.append(i.text)
Point2

a1=Point2[1::2]
a1

a2=Point1[:]
a2

b1=a1
b2=a2
c2=(b2+b1)

C2=c2[0:10]

In [93]:
#Creating a rating list of ecah team 
Rat1=[]
for i in soup2.find_all('td',class_='rankings-block__banner--rating'):
    Rat1.append(i.text.replace('\n','').replace('\n\n','').replace('  ',''))

    
Rat2=[]
for i in soup2.find_all('td',class_='table-body__cell u-text-right rating'):
    Rat2.append(i.text)


R1=Rat1
R2=Rat2

c3=(R1+R2)

C3=c3[0:10]

In [37]:
ICC_Teams=pd.DataFrame({'Teams':T1,'Matches':C1,'Points':C2,'Ratings':C3})
ICC_Teams

          Teams Matches  Points Ratings
0         India      63  16,881     268
1       England      49  13,029     266
2      Pakistan      55  14,168     258
3  South Africa      41  10,510     256
4   New Zealand      50  12,621     252
5     Australia      47  11,784     251
6   West Indies      51  12,039     236
7     Sri Lanka      50  11,732     235
8    Bangladesh      51  11,328     222
9   Afghanistan      30   6,512     217

# Top 10 ODI Batsman

In [16]:
page3=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page3

In [17]:
soup3=BeautifulSoup(page3.content)

In [94]:
# Creating list for to 10 batsman name of ICC cricket ranking
P1=[]
for i in soup3.find_all('div',class_='rankings-block__banner--name-large'):
    P1.append(i.text)
    

P2=[]
for i in soup3.find_all('td',class_='table-body__cell rankings-table__name name'):
    P2.append(i.text.replace('\n',''))
    
player=(P1+P2)

P3=player[0:10]

In [95]:
# Creating list of the team from which the batsman belongs 
T1=[]
for i in soup3.find_all('div',class_='rankings-block__banner--nationality'):
    T1.append(i.text.replace('\n\n','').replace('\n','').replace('  ',''))
    
T2=[]
for i in soup3.find_all('td',class_='table-body__cell nationality-logo rankings-table__team'):
    T2.append(i.text.replace('\n\n','').replace('\n',''))
    
Teams=(T1+T2)
T3=Teams[0:10]

In [96]:
# Creating list of the rating of the batsman
R1=[]
for i in soup3.find_all('div',class_='rankings-block__banner--rating'):
    R1.append(i.text)
    
    
R2=[]
for i in soup3.find_all('td',class_='table-body__cell rating'):
    R2.append(i.text)
    
Rate=(R1+R2)

R3=Rate[0:10]

In [43]:
ODI_Batsman=pd.DataFrame({'Name of Player':P3,'Teams':T3,'Rating':R3})
ODI_Batsman

          Name of Player Teams Rating
0             Babar Azam   PAK    890
1            Imam-ul-Haq   PAK    779
2  Rassie van der Dussen    SA    766
3        Quinton de Kock    SA    759
4           David Warner   AUS    747
5            Steve Smith   AUS    719
6         Jonny Bairstow   ENG    710
7            Virat Kohli   IND    707
8           Rohit Sharma   IND    704
9        Kane Williamson    NZ    701

# Top 10 ODI Bowlers

In [18]:
page4=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page4

In [19]:
soup4=BeautifulSoup(page4.content)

In [97]:
# Creating list of top 10 bowlers name 
N1=[]
for i in soup4.find_all('div',class_='rankings-block__banner--name-large'):
    N1.append(i.text)
    
N2=[]
for i in soup4.find_all('td',class_='table-body__cell rankings-table__name name'):
    N2.append(i.text.replace('\n',''))
    
N=(N1+N2)
bowler=N[0:10]

In [98]:
# creating list of team of the bowlers 
p1=[]
for i in soup4.find_all('div',class_='rankings-block__banner--nationality'):
    p1.append(i.text.replace('\n\n','').replace('\n','').replace('  ',''))

p2=[]
for i in soup4.find_all('td',class_='table-body__cell nationality-logo rankings-table__team'):
    p2.append(i.text.replace('\n\n','').replace('\n',''))

play=(p1+p2)
bow_team=play[0:10]

In [99]:
# Creating list of Bowlers rating point 
r1=[]
for i in soup4.find_all('div',class_='rankings-block__banner--rating'):
    r1.append(i.text)
    
r2=[]
for i in soup4.find_all('td',class_='table-body__cell rating'):
    r2.append(i.text)
r3=(r1+r2)
bow_rate=r3[0:10]

In [49]:
ODI_bowler=pd.DataFrame({'Name of Bowler':bowler,'Teams':bow_team,'Rating':bow_rate})
ODI_bowler

      Name of Bowler Teams Rating
0        Trent Boult    NZ    760
1     Josh Hazlewood   AUS    727
2     Mitchell Starc   AUS    665
3     Shaheen Afridi   PAK    661
4         Matt Henry    NZ    656
5         Adam Zampa   AUS    655
6       Mehedi Hasan   BAN    655
7   Mujeeb Ur Rahman   AFG    650
8  Mustafizur Rahman   BAN    640
9        Rashid Khan   AFG    635

# Question -6 ICC Cricket  women

# ODI Team Ranking

In [20]:
page5=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page5

In [21]:
soup5=BeautifulSoup(page5.content)

In [341]:
# Creating list of top 10 ICC womens cricket team 
Team=[]
for i in soup5.find_all('span',class_='u-hide-phablet'):
    Team.append(i.text)
T1=Team[0:10]

In [342]:
# Creating list of matches of each team
matches1=[]
for i in soup5.find_all('td',class_='rankings-block__banner--matches'):
    matches1.append(i.text)

matches2=[]
for i in soup5.find_all('td',class_='table-body__cell u-center-text'):
    matches2.append(i.text)
m1=matches2[0::2]
m1
Matchs=(matches1+m1)
M=Matchs[0:10]

In [343]:
# Creating list for points of the team 
p1=[]
for i in soup5.find_all('td',class_='rankings-block__banner--points'):
    p1.append(i.text)
p2=[]
for i in soup5.find_all('td',class_='table-body__cell u-center-text'):
    p2.append(i.text)
p3=p2[1::2]
points=(p1+p3)
P=points[0:10]

In [344]:
# Creating the list of team rating 
R1=[]
for i in soup5.find_all('td',class_='rankings-block__banner--rating u-text-right'):
    R1.append(i.text.replace('\n','').replace('\n\n','').replace('  ',''))
R2=[]
for i in soup5.find_all('td',class_='table-body__cell u-text-right rating'):
    R2.append(i.text)
Rate=(R1+R2)
R=Rate[0:10]

In [345]:
Women_cricket=pd.DataFrame({'Teams':T1,'Matches':M,'Points':P,'Rating':R})
Women_cricket

          Teams Matches Points Rating
0     Australia      18  3,061    170
1  South Africa      26  3,098    119
2       England      25  2,904    116
3         India      27  2,820    104
4   New Zealand      24  2,425    101
5   West Indies      24  2,334     97
6    Bangladesh      12    932     78
7      Thailand       8    572     72
8      Pakistan      24  1,519     63
9     Sri Lanka       8    353     44

# Women Cricket ODI Batting Ranking

In [22]:
page6=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page6

In [23]:
soup6=BeautifulSoup(page6.content)

In [316]:
# Creating list of Women batting 
n1=[]
for i in soup6.find_all('div',class_='rankings-block__banner--name-large'):
    n1.append(i.text)
n2=[]
for i in soup6.find_all('td',class_='table-body__cell rankings-table__name name'):
    n2.append(i.text.replace('\n',''))
n3=(n1+n2)
Name=n3[0:10]

In [317]:
# Creating list of team from which the women batter belongs 
t1=[]
for i in soup6.find_all('div',class_='rankings-block__banner--nationality'):
    t1.append(i.text.replace('\n\n','').replace('\n','').replace('  ',''))
    
t2=[]
for i in soup6.find_all('td',class_='table-body__cell nationality-logo rankings-table__team'):
    t2.append(i.text.replace('\n\n','').replace('\n',''))
t3=(t1+t2)
team=t3[0:10]

In [34]:
# Create the list of Batters rating 
r1=[]
for i in soup6.find_all('div',class_='rankings-block__banner--rating'):
    r1.append(i.text)
r2=[]
for i in soup6.find_all('td',class_='table-body__cell rating'):
    r2.append(i.text)
r3=(r1+r2)
Ratein=r3[0:10]

In [322]:
Women_batting=pd.DataFrame({'player Name':Name,'Team':team,'Rateing':Ratein})
Women_batting

           player Name Team Rateing
0         Alyssa Healy  AUS     785
1          Beth Mooney  AUS     749
2      Laura Wolvaardt   SA     732
3       Natalie Sciver  ENG     725
4     Harmanpreet Kaur  IND     716
5      Smriti Mandhana  IND     714
6          Meg Lanning  AUS     710
7       Rachael Haynes  AUS     701
8    Amy Satterthwaite   NZ     661
9  Chamari Athapaththu   SL     655

# Women All-rounder

In [24]:
page11=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page11

In [25]:
soup11=BeautifulSoup(page11.content)

In [330]:
# List of women cricketr all rounders
player1=[]
for i in soup11.find_all('div',class_='rankings-block__banner--name-large'):
    player1.append(i.text)
player2=[]
for i in soup11.find_all('td',class_='table-body__cell rankings-table__name name'):
    player2.append(i.text.replace('\n',''))
p=(player1+player2)
Player=p[0:10]

In [26]:
# Creating the list of Team of all rounders
Te1=[]
for i in soup11.find_all('div',class_='rankings-block__banner--nationality'):
    Te1.append(i.text.replace('\n\n','').replace('\n','').replace('  ',''))
Te2=[]
for i in soup11.find_all('td',class_='table-body__cell nationality-logo rankings-table__team'):
    Te2.append(i.text.replace('\n\n','').replace('\n','').replace('  ',''))
Te=(Te1+Te2)
Team=Te[0:10]

In [27]:
# Creating the Rating list of all rounders 
Re1=[]
for i in soup11.find_all('div',class_='rankings-block__banner--rating'):
    Re1.append(i.text)
Re2=[]
for i in soup11.find_all('td',class_='table-body__cell rating'):
    Re2.append(i.text)
Re=(Re1+Re2)
rate=Re[0:10]

In [339]:
Women_Allrounder=pd.DataFrame({'Player Name':Player,'Team':Team,'Rateing':rate})
Women_Allrounder

        Player Name Team Rateing
0   Hayley Matthews   WI     380
1      Ellyse Perry  AUS     374
2    Natalie Sciver  ENG     357
3       Amelia Kerr   NZ     356
4    Marizanne Kapp   SA     349
5     Deepti Sharma  IND     322
6  Ashleigh Gardner  AUS     270
7     Jess Jonassen  AUS     246
8    Jhulan Goswami  IND     214
9   Katherine Brunt  ENG     207


# Question 7 - Scraping News Details

In [224]:
from bs4 import BeautifulSoup,SoupStrainer

import requests

import pandas as pd

In [225]:
News_soup=BeautifulSoup(requests.get("https://www.cnbc.com/world/?region=world").content,"html.parser")

 # Scrap Headlines

In [246]:
# Creating the list of head lines
Headline=[i.text for i in News_soup.find_all(class_="LatestNews-headline")]

In [245]:
# Creating the Time list of the news relese
time=[i.text for i in News_soup.find_all(class_="LatestNews-timestamp")]

In [244]:
# Creating the news link url list 
news_link=[i.get('href')for i in News_soup.find_all(class_="LatestNews-headline")]

In [243]:
cnbc_news=pd.DataFrame({'Headline':Headline,'Time':time,'News_link':news_link})
cnbc_news

,Headline,Time,News_link
0,Cramer's lightning round: Let Extreme Networks...,10 Hours Ago,https://www.cnbc.com/2022/12/02/cramers-lightn...
1,Jim Cramer says these 3 apparel stocks benefit...,10 Hours Ago,https://www.cnbc.com/2022/12/02/jim-cramer-say...
2,Cramerâs week ahead: Markets need a strong job...,11 Hours Ago,https://www.cnbc.com/2022/12/02/cramers-week-a...
3,Pro Picks: Watch all of Friday's big stock cal...,12 Hours Ago,https://www.cnbc.com/2022/12/02/pro-picks-watc...
4,"There is 'enormous opportunity' in REITs, says...",12 Hours Ago,https://www.cnbc.com/2022/12/02/reits-offer-en...
5,Biden administration will end monkeypox public...,13 Hours Ago,https://www.cnbc.com/2022/12/02/biden-administ...
6,Expect more choppiness ahead after a week of m...,13 Hours Ago,https://www.cnbc.com/2022/12/02/expect-more-ch...
7,"GM, LG investing $275 million to expand Tennes...",14 Hours Ago,https://www.cnbc.com/2022/12/02/gm-lg-investin...
8,"These beat-up tech stocks have potential, âHal...",14 Hours Ago,https://www.cnbc.com/2022/12/02/big-tech-stock...
9,The Fed's path to a 'Goldilocks' economy just ...,14 Hours Ago,https://www.cnbc.com/2022/12/02/the-feds-path-...
10,3 things crypto investors need to know in post...,14 Hours Ago,https://www.cnbc.com/2022/12/02/three-things-c...
11,Biden condemns antisemitism as Ye praises Hitl...,14 Hours Ago,https://www.cnbc.com/2022/12/02/biden-condemns...
12,Georgia man arrested for shooting boy campaign...,14 Hours Ago,https://www.cnbc.com/2022/12/02/georgia-electi...
13,What to watch in the markets in the week ahead,15 Hours Ago,https://www.cnbc.com/2022/12/02/markets-lookin...
14,The biggest tax changes to know before filing ...,15 Hours Ago,https://www.cnbc.com/2022/12/02/the-biggest-ta...
15,'This is a crisis.' Why more workers need acce...,16 Hours Ago,https://www.cnbc.com/2022/12/02/why-more-worke...
16,Carnivalâs Princess Cruises will return to Jap...,16 Hours Ago,https://www.cnbc.com/2022/12/02/carnivals-prin...
17,Tech layoffs may not be a bad omen for U.S. ec...,16 Hours Ago,https://www.cnbc.com/2022/12/02/tech-layoffs-m...
18,Professional traders are using these ETFs and ...,16 Hours Ago,https://www.cnbc.com/2022/12/02/professional-t...
19,Amazon media chief Jeff Blackburn retires from...,16 Hours Ago,https://www.cnbc.com/2022/12/02/amazon-media-c...
20,Activision acquisition would be good for Micro...,16 Hours Ago,https://www.cnbc.com/2022/12/02/activision-acq...
21,Christina Ricci sold off her collection of Cha...,16 Hours Ago,https://www.cnbc.com/2022/12/02/christina-ricc...
22,Goldman Sachs warns traders of shrinking bonus...,16 Hours Ago,https://www.cnbc.com/2022/12/02/goldman-sachs-...
23,November unemployment rate fell for both Hispa...,17 Hours Ago,https://www.cnbc.com/2022/12/02/november-unemp...
24,DEI programing stalled in 2022âhow that could ...,17 Hours Ago,https://www.cnbc.com/2022/12/02/dei-programing...
25,Stocks making the biggest moves midday: Zscale...,17 Hours Ago,https://www.cnbc.com/2022/12/02/stocks-making-...
26,People with perfect credit scores share 3 key ...,17 Hours Ago,https://www.cnbc.com/2022/12/02/experian-peopl...
27,Student debt relief goes to the Supreme Courtâ...,17 Hours Ago,https://www.cnbc.com/2022/12/02/student-debt-r...
28,Ford claims No. 2 spot in EVs behind Tesla â b...,18 Hours Ago,https://www.cnbc.com/2022/12/02/ford-claims-no...
29,Drew Brees fakes lightning strike in promotion...,18 Hours Ago,https://www.cnbc.com/2022/12/02/drew-brees-lig...

# Question 8 - AI Articals

In [28]:
page8=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page8

In [29]:
soup8=BeautifulSoup(page8.content)

In [194]:
# Creating the paper list 
paper_title=[]
for i in soup8.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    paper_title.append(i.text)

In [193]:
# Creating the list of author
Author=[]
for i in soup8.find_all('span',class_='sc-1w3fpd7-0 dnCnAO'):
    Author.append(i.text)

In [192]:
# creating the list of article publish date
publish_date=[]
for i in soup8.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
    publish_date.append(i.text)

In [189]:
# Creating the list of url 
paper_URL=[]
for i in soup8.find_all('a',class_='sc-5smygv-0 fIXTHm'):
    paper_URL.append(i.get('href')) # getting url

In [191]:
AI_Articales=pd.DataFrame({'Paper Title':paper_title,'Authors':Author,'Publish Date':publish_date,'URL':paper_URL})
AI_Articales

,Paper Title,Authors,Publish Date,URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, BoÅ¡njak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social humanârobot in...,"Lemaignan, SÃ©verin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, HernÃ¡ndez-Orallo, JosÃ© and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"BoÅ¡anskÃ½, Branislav, LisÃ½, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, LÃ¸land, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, TomÃ¡Å¡, BahnÃ­k, Å tÄpÃ¡n, FÃ¼rnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, GonÃ§alo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,âThat's (not) the output I expected!â On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Question-9 - Dineout

In [30]:
page7=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page7

In [31]:
soup7=BeautifulSoup(page7.content)

In [156]:
# Creating the list of hotel name
title=[]
for i in soup7.find_all('a',class_='restnt-name ellipsis'):
    title.append(i.text)

In [157]:
# Creating the list of hotel place
place=[]
for i in soup7.find_all('div',class_='restnt-loc ellipsis'):
    place.append(i.text)

In [158]:
# Creating the list of hotel price
price=[]
for i in soup7.find_all('span',class_='double-line-ellipsis'):
    price.append(i.text.split('|')[0])

In [159]:
# Creating the list of hotel cusin
Cusin=[]
for i in soup7.find_all('span',class_='double-line-ellipsis'):
    Cusin.append(i.text.split('|')[1])

In [160]:
# Creating the list of hotel rateing 
Rating=[]
for i in soup7.find_all('div',class_='restnt-rating rating-4'):
    Rating.append(i.text)

In [161]:
image=[]
for i in soup7.find_all('img',class_='no-img'):
    image.append(i.get('data-src'))  # scraping the url

In [153]:
Hotel_detail=pd.DataFrame({'Name':title,'Location':place,'Price':price,'Cusin':Cusin,'Rating':Rating,'URL':image})
Hotel_detail

,Name,Location,Price,Cusin,Rating,URL
0,Castle Barbeque,"Connaught Place, Central Delhi","â¹ 2,000 for 2 (approx)","Chinese, North Indian",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi","â¹ 1,680 for 2 (approx)","North Indian, Asian, Italian",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi","â¹ 2,000 for 2 (approx)","Chinese, North Indian",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...","â¹ 3,000 for 2 (approx)","Italian, Continental",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida","â¹ 1,700 for 2 (approx)","North Indian, Chinese",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"Hilton Garden Inn,Saket, South Delhi","â¹ 2,400 for 2 (approx)","North Indian, Italian",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi","â¹ 1,800 for 2 (approx)",North Indian,3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","â¹ 1,900 for 2 (approx)",North Indian,3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon","â¹ 2,200 for 2 (approx)","North Indian, Mughlai",4.3,https://im1.dineout.co.in/images/uploads/resta...

# Question 10- Top Publications

In [32]:
page10=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
page10

In [33]:
soup10=BeautifulSoup(page10.content)

In [222]:
# Create list of ranking 
Rank=[]
for i in soup10.find_all('td',class_='gsc_mvt_p'):
    Rank.append(i.text)

In [221]:
# Create list of Publication name
publication=[]
for i in soup10.find_all('td',class_='gsc_mvt_t'):
    publication.append(i.text)

In [219]:
#Create list of h5-index
index=[]
for i in soup10.find_all('td',class_='gsc_mvt_n'):
    index.append(i.text)
h5=index[0:200:2]

In [220]:
# Creating list of h5-median
median=[]
for i in soup10.find_all('span',class_='gs_ibl gsc_mp_anchor'):
    median.append(i.text)

In [217]:
Google_scholar=pd.DataFrame({'Rank':Rank,'Publications':publication,'h5 index':h5,'h5 median':median})
Google_scholar

    Rank                                       Publications h5 index h5 median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]